@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=4.0, user-scalable=yes"
        name="viewport">
    <title>Data Report of Ctrip Online</title>
    <!-- path -->
    @using Ctrip.Corp.Report.Utility;
    @{
        //string cssPath = (Enums.ResLangEnum.en.ToString().Equals(ViewBag.Lang, StringComparison.OrdinalIgnoreCase) ? "en" : "zh-cn");
        //@this.Css(cssPath + "/global.css", this.Request.UserAgent.ToLower().Contains("ipad") ? cssPath + "/global_pad.css" : "")
    }
    @this.Css("~/CSS/pdf/data_report.css")
</head>
<body>
    <!-- SumPage S -->
    <div class="main-c">
        <!-- 公共头 S -->
        <div class="header">
            <h1 class="hd-logo">
                <a href="javascript:void(0)">Ctrip - 携程</a>
            </h1>
            <h2 class="hd-siteTitle">
                携程在线数据报告 <em>Data Report of Ctrip Online</em>
            </h2>
            <ul class="hd-languageVersion">
                <li><a href="##" title="中文版" class="current">中文版</a></li>
                <li><a href="##" title="英文版">中文版</a></li>
            </ul>
            <ul class="hd-info">
                <li><span class="label">主账户：</span>全部</li>
                <li><span class="label">部门：</span>技术研发中心</li>
                <li><span class="label">消费属性：</span>全部</li>
                <li><span class="label">时间范围：</span>2014-07至2014-07</li>
            </ul>
        </div>
        <!-- 公共头 E -->
        <div class="page-c">
            <!-- 总概页标题 S -->
            <div class="page-title">
                总概<span class="sub sub-e">Overview</span>
                <div class="tria-b">
                </div>
                <div class="tria-f">
                </div>
            </div>
            <!-- 总概页标题 E -->
            <div class="box-c2">
                <div class="m-l">
                    <div class="msg-box msg-info">
                        本期贵司差旅支出同比增长10%，环比增长10%<br>
                        请关注贵司的差旅管控。</div>
                    <div class="total-bill">
                        <div class="item">
                            <div class="cost">
                                <span>¥</span>9,929,886</div>
                            <div class="desc">
                                总体消费情况</div>
                        </div>
                        <div class="item">
                            <div class="cost cost-r">
                                <span>¥</span>9,886</div>
                            <div class="desc">
                                总节省</div>
                        </div>
                    </div>
                </div>
                <div class="m-r">
                    <h3 class="mod-hd">
                        消费金额</h3>
                    <div class="visual-data">
                        <img src="img/pic.png" alt="" height="195" width="100%"></div>
                </div>
            </div>
            <div class="mod">
                <div class="visual-data mb30">
                    <img src="img/pic.png" alt="" height="170" width="690"></div>
                <div class="space">
                    <table class="data-table center mb30">
                        <thead>
                            <tr>
                                <th width="127">
                                    月份
                                </th>
                                <th width="77">
                                    1月
                                </th>
                                <th width="77">
                                    2月
                                </th>
                                <th width="77">
                                    3月
                                </th>
                                <th width="77">
                                    4月
                                </th>
                                <th width="77">
                                    5月
                                </th>
                                <th width="77">
                                    6月
                                </th>
                                <th width="77">
                                    7月
                                </th>
                                <th width="77">
                                    8月
                                </th>
                                <th width="77">
                                    9月
                                </th>
                                <th width="77">
                                    10月
                                </th>
                                <th width="77">
                                    11月
                                </th>
                                <th width="77">
                                    12月
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="127">
                                    会员酒店
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    &nbsp;
                                </td>
                                <td width="77">
                                    &nbsp;
                                </td>
                                <td width="77">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    协议酒店
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    国内机票
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    国际机票
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    火车票
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-c3">
                <div class="m-l">
                    <div class="mod-hd">
                        前五部门消费情况</div>
                    <div class="visual-data">
                        <img src="img/pic.png" alt="" height="400" width="100%"></div>
                </div>
                <div class="m-r">
                    <div class="mod-hd">
                        前五目的地消费情况</div>
                    <div class="visual-data">
                        <img src="img/pic.png" alt="" height="400" width="100%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-c">
        <!-- 公共头 S -->
        <div class="header">
            <h1 class="hd-logo">
                <a href="##">Ctrip - 携程</a>
            </h1>
            <h2 class="hd-siteTitle">
                携程在线数据报告 <em>Data Report of Ctrip Online</em>
            </h2>
            <ul class="hd-languageVersion">
                <li><a href="##" title="中文版" class="current">中文版</a></li>
                <li><a href="##" title="英文版">中文版</a></li>
            </ul>
            <ul class="hd-info">
                <li><span class="label">主账户：</span>全部</li>
                <li><span class="label">部门：</span>技术研发中心</li>
                <li><span class="label">消费属性：</span>全部</li>
                <li><span class="label">时间范围：</span>2014-07至2014-07</li>
            </ul>
        </div>
        <!-- 公共头 E -->
        <div class="page-c">
            <!-- 总概页标题 S -->
            <div class="page-title">
                总概<span class="sub sub-e">Overview</span>
                <div class="tria-b">
                </div>
                <div class="tria-f">
                </div>
            </div>
            <!-- 总概页标题 E -->
            <div class="mod">
                <div class="mod-hd">
                    机票月度消费情况</div>
                <div class="list">
                    <div class="item">
                        <div class="price">
                            <span>¥</span>803,946</div>
                        总体消费情况
                    </div>
                    <div class="item">
                        <div class="price">
                            <span>¥</span>982</div>
                        平均票价
                    </div>
                    <div class="item">
                        <div class="price">
                            0.74</div>
                        平均折扣
                    </div>
                </div>
                <div class="visual-data mb30">
                    <img src="img/pic.png" alt="" height="170" width="800"></div>
                <div class="space mb30">
                    <table class="data-table center">
                        <thead>
                            <tr>
                                <th width="127">
                                    月份
                                </th>
                                <th width="77">
                                    1月
                                </th>
                                <th width="77">
                                    2月
                                </th>
                                <th width="77">
                                    3月
                                </th>
                                <th width="77">
                                    4月
                                </th>
                                <th width="77">
                                    5月
                                </th>
                                <th width="77">
                                    6月
                                </th>
                                <th width="77">
                                    7月
                                </th>
                                <th width="77">
                                    8月
                                </th>
                                <th width="77">
                                    9月
                                </th>
                                <th width="77">
                                    10月
                                </th>
                                <th width="77">
                                    11月
                                </th>
                                <th width="77">
                                    12月
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="127">
                                    国内机票
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    ¥557,255
                                </td>
                                <td width="77">
                                    &nbsp;
                                </td>
                                <td width="77">
                                    &nbsp;
                                </td>
                                <td width="77">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    国际机票
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    ¥557,255
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mod-hd">
                    机票提前预订天数情况</div>
                <div class="list">
                    <div class="item item-samll">
                        0天
                        <div class="text-c1">
                            10.2%</div>
                    </div>
                    <div class="item item-samll">
                        1天
                        <div class="text-c1">
                            22.6%</div>
                    </div>
                    <div class="item item-samll">
                        2天
                        <div class="text-c1">
                            15.8%</div>
                    </div>
                    <div class="item item-samll">
                        3天
                        <div class="text-c1">
                            9.4%</div>
                    </div>
                    <div class="item item-samll">
                        4天
                        <div class="text-c1">
                            10.4%</div>
                    </div>
                    <div class="item item-samll">
                        4天以上
                        <div class="text-c1">
                            31.5%</div>
                    </div>
                </div>
            </div>
            <div class="mod-hd">
                酒店月度消费情况</div>
            <div class="list">
                <div class="item">
                    <div class="price">
                        <span>¥</span>490,946</div>
                    总体消费情况
                </div>
                <div class="item">
                    <div class="price">
                        <span>¥</span>480</div>
                    平均房价
                </div>
            </div>
            <div class="visual-data mb30">
                <img src="img/pic.png" alt="" height="170" width="800"></div>
            <div class="data-table center space mb30">
                <table>
                    <thead>
                        <tr>
                            <th width="127">
                                月份
                            </th>
                            <th width="77">
                                1月
                            </th>
                            <th width="77">
                                2月
                            </th>
                            <th width="77">
                                3月
                            </th>
                            <th width="77">
                                4月
                            </th>
                            <th width="77">
                                5月
                            </th>
                            <th width="77">
                                6月
                            </th>
                            <th width="77">
                                7月
                            </th>
                            <th width="77">
                                8月
                            </th>
                            <th width="77">
                                9月
                            </th>
                            <th width="77">
                                10月
                            </th>
                            <th width="77">
                                11月
                            </th>
                            <th width="77">
                                12月
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="127">
                                会员酒店
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                ¥557,255
                            </td>
                            <td width="77">
                                &nbsp;
                            </td>
                            <td width="77">
                                &nbsp;
                            </td>
                            <td width="77">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                协议酒店
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                ¥557,255
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mod-hd">
                酒店星级使用情况</div>
            <div class="list">
                <div class="item item-samll">
                    2星
                    <div class="text-c1">
                        15.8%</div>
                </div>
                <div class="item item-samll">
                    3星
                    <div class="text-c1">
                        9.4%</div>
                </div>
                <div class="item item-samll">
                    4星
                    <div class="text-c1">
                        10.4%</div>
                </div>
                <div class="item item-samll">
                    五星
                    <div class="text-c1">
                        31.5%</div>
                </div>
            </div>
        </div>
    </div>
    <!-- SumPage E -->


    <script type="text/javascript">
        var PDFConfig = {
            cfgInfo: @Html.Raw(ViewBag.Config),
            headInfo: {
                AccountName: "主账户",
                DepartName: "技术研发中心",
                ConsumAttr: "全部",
                StartTime: "2014-01",
                EndTime: "2014-10"
            }
        }
    </script>
    @this.Script("fame/jquery-1.9.1.min.js", "commpub/common.js", "fame/highcharts.js", "fame/highcharts-more.js")
    @this.Script("~/Scripts/ReportJS/fame/jquery.tmpl.min.js", "~/Scripts/ReportJS/pdf/main.js")
</body>
</html>
